
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Allow public creation of design requests, but give full CRUD access to admins.
    match /designRequests/{requestId} {
      allow create: if true;
      allow read, update, delete: if request.auth != null && request.auth.token.email in ['david@craniumx.ca', 'davidhayribs@gmail.com'];
    }

    // Allow listing of all design requests only for specific admin emails
    match /{path=**}/designRequests/{requestId} {
      allow list: if request.auth != null && request.auth.token.email in ['david@craniumx.ca', 'davidhayribs@gmail.com'];
    }

    // Default deny all other collections/documents
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
